<div>
  <meta charset="UTF-8">
  <title>Fee Receipt Generator</title>
  
  <div class="container">
    <h2>Fee Receipt Generator</h2>

    <label>Receipt No:</label>
    <input type="text" id="receiptNo" value="13157">

    <label>Date:</label>
    <input type="date" id="date" value="2024-05-02">

    <label>Name:</label>
    <input type="text" id="name" value="Nookala Venkata Naga Maruthi Sai Teja">

    <label>Roll No:</label>
    <input type="text" id="rollNo" value="2230401553029">

    <label>Course:</label>
    <input type="text" id="course" value="BSC ARTIFICIAL INTELLIGENCE (HONOURS)">

    <label>Fee Type:</label>
    <input type="text" id="feeType" value="Tuition Fee">

    <label>Amount:</label>
    <input type="number" id="amount" value="10000">

    <label>First Installment:</label>
    <input type="number" id="first" value="10000">

    <label>Second Installment:</label>
    <input type="number" id="second" value="35000">

    <label>Third Installment:</label>
    <input type="number" id="third" value="35000">

    <div class="btn-container">
      <button (click)="generateReceipt()">Generate Receipt</button>
      <button (click)="downloadReceipt()">Download</button>
    </div>

    <div id="receiptArea" class="receipt" style="display:none;"></div>
  </div>
</div>